<div id="navbar-main" class="navbar navbar-expand-lg navbar-light bg-light top_header">
    <img id="logo" class="navbar-brand" src="./assets/images/logo_web.jpg">
    <a id="navbar-text" class="navbar-brand ml-20" href="#"><b>Administrace</b></a>
    <button class="navbar-toggler nav-my-btn" type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-my-cont" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto h-100">
            <li class="nav-item" routerLinkActive="nav-active" routerLink="/contests">
                Soutěže
            </li>
            <li class="nav-item" routerLinkActive="nav-active" routerLink="/notifications">
                Notifikace
            </li>
            <li class="nav-item" routerLinkActive="nav-active" routerLink="/whyToBuy">
                Proč koupit
            </li>
            <li class="nav-item" routerLinkActive="nav-active" routerLink="/courses">
                Kurzy
            </li>
        </ul>
    </div>
</div>
