<app-navbar></app-navbar>

<div id="buttons" class="w-100 align-center">
    <button class="white-bg  table-button"
            (click)="returnToOverview()">Zpět na přehled
    </button>
    <button class="white-bg  table-button"
            (click)="exportToCsv()">Exportovat výsledky
    </button>
    <button class="white-bg  table-button"
            (click)="saveEmails()">Exportovat emaily
    </button>
</div>

<ng-template [ngIf]="contest.contestType === 'voting'">
    <div>
        <table class="table table-main table-main-small">
            <thead>
            <tr>
                <th>
                    <img [attr.src]="contest.image" style="width: auto; height: 100px">
                </th>
                <th>{{contest.question}}</th>
                <th>
                    {{utils.mapType(contest.contestType)}}
                </th>
                <th>
                    <span class="state fa" [ngClass]="{'fa-play': contest.status === 'running', 'fa-pause': contest.status === 'paused' , 'fa-stop': contest.status === 'finished'}">
                    </span>
                    {{utils.mapState(contest.status)}}
                </th>
                <th [attr.colspan]="contest.answers.length - 1"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-head">
                <th>Jméno</th>
                <th>Email</th>
                <th>Datum</th>
                <th [attr.colspan]="contest.answers.length">Odpovědi</th>
            </tr>
            <tr class="table-head">
                <th colspan="3">&nbsp;</th>
                <th class="result-options center" *ngFor="let answer of contest.answers">{{answer}}</th>
            </tr>
            <tr *ngFor="let result of results; let index=index; let odd=odd; let even=even;"
                [ngClass]="{ odd: odd, even: even }">
                <td>{{result.name}}</td>
                <td>{{result.email}}</td>
                <td>{{result.timestamp | date:'d. M. yyyy HH:mm:ss'  }}</td>
                <td class="center" *ngFor="let answer of contest.answers">{{ result.answers.indexOf(answer) >=0  ? "X": "" }}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>Celkem {{results.length}}</td>
                <td colspan="2"></td>
                <td class="center" [ngClass]="{'max': key === max}" *ngFor="let key of contest.answers">{{ answerCountsVoting[key] }}</td>
            </tr>
            </tfoot>
        </table>
    </div>
</ng-template>

<ng-template [ngIf]="contest.contestType === 'rating'">
    <div>
        <table class="table table-main table-main-small">
            <thead>
            <tr>
                <th>
                    <img [attr.src]="contest.image" style="width: auto; height: 100px">
                </th>
                <th>{{contest.question}}</th>
                <th>
                    {{utils.mapType(contest.contestType)}}
                </th>
                <th [attr.colspan]="contest.answers.length">
          <span class="state fa" [ngClass]="{'fa-play': contest.status === 'running', 'fa-pause': contest.status === 'paused' , 'fa-stop': contest.status === 'finished'}">
            </span>
                    {{utils.mapState(contest.status)}}

                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-head">
                <th>Jméno</th>
                <th>Email</th>
                <th>Datum</th>
                <th [attr.colspan]="contest.answers.length">Odpovědi</th>
            </tr>
            <tr class="table-head">
                <th colspan="3">&nbsp;</th>
                <th class="result-options" *ngFor="let answer of contest.answers"><img class="rating-options-pics" [src]="answer" height="50px"></th>
            </tr>
            <tr *ngFor="let result of results; let index=index; let odd=odd; let even=even;"
                [ngClass]="{ odd: odd, even: even }">
                <td>{{result.name}}</td>
                <td>{{result.email}}</td>
                <td>{{result.timestamp | date:'d. M. yyyy HH:mm:ss'  }}</td>
                <td class="center" *ngFor="let answer of result.answers">{{answer}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>Celkem {{results.length}}</td>
                <td colspan="2"></td>
                <td class="center" [ngClass]="{'max': result === max}" *ngFor="let result of answerCountsRating">{{ result }}</td>
            </tr>
            </tfoot>
        </table>
    </div>
</ng-template>

<ng-template [ngIf]="contest.contestType === 'text'">
    <div>
        <table class="table table-main table-main-small">
            <thead>
            <tr>
                <th>
                    <img [attr.src]="contest.image" style="width: auto; height: 100px">
                </th>
                <th>{{contest.question}}</th>
                <th>
                    {{utils.mapType(contest.contestType)}}
                </th>
                <th>
          <span class="state fa" [ngClass]="{'fa-play': contest.status === 'running', 'fa-pause': contest.status === 'paused' , 'fa-stop': contest.status === 'finished'}">
          </span>
                    {{utils.mapState(contest.status)}}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-head">
                <th>Jméno</th>
                <th>Email</th>
                <th>Datum</th>
                <th>Odpovědi</th>
            </tr>
            <tr *ngFor="let result of results; let index=index; let odd=odd; let even=even;"
                [ngClass]="{ odd: odd, even: even }">
                <td>{{result.name}}</td>
                <td>{{result.email}}</td>
                <td>{{result.timestamp | date:'d. M. yyyy HH:mm:ss'  }}</td>
                <td>{{result.answers[0]}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>Celkem {{results.length}}</td>
                <td colspan="2"></td>
                <td [ngClass]="{'max': key === max}" *ngFor="let result of answerCountsRating">{{ result }}</td>
            </tr>
            </tfoot>
        </table>
    </div>
</ng-template>


