.max {
    font-weight: bold;
}

tfoot {
    border-top: solid black;
}

#buttons {
    margin-top: 15px;
}

.table-head th {
    color: black;
    text-transform: uppercase;
    background: white;
    border: 1px solid black;
    /*border-top: 1px solid black;*/
    /*border-right: 1px solid black;*/
    font-size: small;
}

tr.table-head {
    border-top: solid black;
    border-bottom: solid black;
}


.result-options {
    width: 10%;
}

.date-column {
    width: 10%;
}

.center {
    text-align: center;
}

th img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
