<app-navbar></app-navbar>

<div id="notification-form">
    <form [formGroup]="notificationForm" (ngSubmit)="onSubmit(templateOk, templateErr)" novalidate>
        <div class="form-group">
            <label for="notification-title">Titulek</label>
            <input class="notification-input form-control" [ngClass]="{'error-field': requiredError}" id="notification-title" formControlName="title">
        </div>

        <div class="form-group">
            <label for="notification-description">Popisek</label>
            <input class="notification-input form-control" id="notification-description" formControlName="description">
        </div>

        <!--<div class="checkbox">-->
            <!--<label for="notification-test">Test</label>-->
            <!--<input id="notification-test" type="checkbox" formControlName="test">-->
        <!--</div>-->
        <div class="btn-submit">
            <button class="white-bg btn-large" type="submit">Odeslat</button>
        </div>
    </form>
</div>


<ng-template #templateErr>
    <div class="modal-title">Chyba</div>
    <div class="modal-text">{{errorMessage}}</div>
    <div class="modal-ok-div">
        <button class="btn-corner blue-dark-bg btn-small" (click)="modalRef.hide()">Ok</button>
    </div>
</ng-template>

<ng-template #templateOk>
    <div class="modal-title">Odesláno</div>
    <div class="modal-text">Notifikace {{notificationForm.value.title}} úspěšně odeslána</div>
    <div class="modal-ok-div">
        <button class="white-bg btn-small" (click)="close()">Ok</button>
    </div>
</ng-template>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>
</div>

<app-notification-history [reload]="reload" (duplicateNotification)="fillInDetails($event)"></app-notification-history>
