<app-navbar></app-navbar>
<div class="mt-5 container">
  <div class="row">
    <div class="col-auto">
      <h2>Detail kurzu</h2>
    </div>
  </div>
  <div *ngIf="course" class="row">
    <div class="col-2">
      <img class="img-thumbnail" src="{{course.image}}" alt="{{course.title}}"/>
    </div>
    <div class="col-auto">
      <h3>{{course.title}}</h3>
    </div>
  </div>
</div>
