<app-navbar></app-navbar>
<div class="header_area">
    <header>
        <button class="btn-nice btn-header" style="max-width: 200px;" (click)="newCourse()">Vytvořit kurz</button>
    </header>
</div>
<div class="mt-5 container">
  <h3>Seznam kurzů</h3>
  <div *ngIf="errorMsg">
    {{errorMsg}}
  </div>
  <div class="list-group" *ngFor="let course of courses;">
    <a class="course list-group-item list-group-item-action" (click)="showDetail(course)">{{course.title}}</a>
  </div>
  <div *ngIf="courses?.length == 0">
    <h5>Nebyly nelezeny žádné kurzy</h5>
  </div>
</div>
