<app-navbar></app-navbar>
<span class="moving-span" id="elementToMove"></span>
<div class="main-content">
    <div class="form-group">
        <label class="compulsory" for="course_title">Název kurzu</label>
        <input required [(ngModel)]="course.title" name="title" class="form-control" id="course_title" type="text"/>
    </div>
    <div class="form-group">
        <table>
            <tr>
                <td>
                    <img src="assets/images/ic_photo_camera_black_24px.svg">
                </td>
                <td class="plr-10 tips">
                    <div class="tips-upper" *ngIf="(image == undefined || image == '')">
                        Nahrát úvodní foto:
                    </div>
                </td>
                <td class="pl-10">
                    <label class="photo-buttons white-bg  button-input">
                        Procházet<input type="file" hidden #pic (change)="handleInputFile($event.target.files)">
                    </label>
                </td>
            </tr>
        </table>
        <div *ngIf="course.image" class="img-area" id="img-area" style="margin-top: 1em;">
            <img src="{{course.image}}" style="width: auto; height: 100px" id="img">
        </div>
    </div>
    <div class="w-100 align-center">
        <button class="white-bg  table-button"
                (click)="create(success, error)">Vytvořit
        </button>
    </div>
</div>

<ng-template #success let-modal>
  <div class="modal-body">
    <h2>Kurz byl úspěšně vytvořen!</h2>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="closeOnSuccess()">Ok</button>
  </div>
</ng-template>

<ng-template #error let-modal>
  <div class="modal-body">
    <h2>Nastala chyba!</h2>
    <p>{{errorMsg}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="closeOnError()">Ok</button>
  </div>
</ng-template>
