<app-navbar></app-navbar>

<div id="notification-form">
  <form #whyForm="ngForm" (ngSubmit)="onSubmit(templateOk, templateErr)" id="why-to-buy-form" novalidate>

    <div class="form-group">
      <label for="why-to-buy">Proč koupit</label>
      <textarea class="notification-input form-control" id="why-to-buy" [(ngModel)]="whyToBuy" name="whyToBuy"></textarea>
    </div>

    <div class="btn-submit">
      <button class="white-bg btn-large" type="submit">Uložit</button>
    </div>
  </form>
</div>


<ng-template #templateErr>
  <div class="modal-title">Chyba</div>
  <div class="modal-text">{{errorMessage}}</div>
  <div class="modal-ok-div">
    <button class="white-bg btn-small" (click)="modalRef.hide()">Ok</button>
  </div>
</ng-template>

<ng-template #templateOk>
  <div class="modal-title">Odesláno</div>
  <div class="modal-text">Notifikace {{notificationForm.value.title}} úspěšně odeslána</div>
  <div class="modal-ok-div">
    <button class="white-bg btn-small" (click)="close()">Ok</button>
  </div>
</ng-template>

<div class="my-container">
  <ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>
</div>

