/* You can add global styles to this file, and also import other style files */
@import url("https://use.typekit.net/jgu7jrm.css");
@import "~ng-pick-datetime/assets/style/picker.min.css";
body {
    background: #fff;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-family: "roboto", sans-serif;
}
/* #login */
.sign_boxes {
    margin: 0 auto;
    padding: 40px 0;
    max-width: 435px !important;
    min-height: calc(100vh - 256px);
    box-sizing: border-box;
}

.sign_tabs {
    margin: 0;
    padding: 0
}

.sign_tabs ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.sign_tabs ul li {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.sign_tabs ul li a, .sign_tabs ul li div {
    background: #34454e;
    line-height: 62px;
    text-transform: uppercase;
    font-size: 21.35px;
    color: #ffffff;
    display: block;
    font-weight: 700
}

.sign_tabs ul li a:hover, .sign_tabs ul li.ui-tabs-active a {
    text-decoration: none;
    background: #13355B;
}

.sign_tab_content {
    padding: 21px 42px 25px;
    margin: 0;
    background: #e2e4e5;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
}

.sign_tab_content h3 {
    margin: 0 0 20px;
    padding: 0 0 20px;
    color: #3e4549;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    background: url(/assets/images/sign-form-h3-bg.png) repeat-x right bottom;
    background-size: 51px 9px;
}

.sign_tabs form {
    margin: 0;
    padding: 0
}

.sign_tabs form label {
    color: #aaaaaa;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 0 0 4px 10px;
    font-weight: 400;
    display: block
}

.sign_tabs form input, #forgotten_password input {
    background: #ffffff;
    margin: 0 0 10px;
    padding: 0 15px;
    border: none;
    box-sizing: border-box;
    color: #aaaaaa;
    font-size: 21.35px;
    height: 41px;
    line-height: 41px;
    font-family: "roboto", sans-serif;
    font-weight: 400;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
    width: 100%
}

.sign_tabs form p, .sign_tabs form p a {
    color: #aaaaaa;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 0 0 10px 10px;
    font-weight: 400;
}

.sign_tabs form p a {
    padding: 0
}

.sign_tabs form button, .btn-nice {
    background: white;
    border: solid black;
    cursor: pointer;
    text-align: center;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 18px;
    line-height: 59px;
    font-weight: 700;
    /*-webkit-border-bottom-right-radius: 50px;*/
    /*-moz-border-radius-bottomright: 50px;*/
    /*border-bottom-right-radius: 50px;*/
    text-transform: uppercase;
    transition: border-radius 0.2s ease;
    width: 100%;
    max-width: 180px;
    float: right;
    font-family: "roboto", sans-serif;
}
.btn-corner {
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: small !important;
    padding: 7px 15px !important;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-radius-bottomright: 25px;
    border-bottom-right-radius: 25px;
    transition: border-radius 0.2s ease;
    color: white;
    cursor: pointer;
}
.btn-corner:hover {
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
}
#forgotten_password button, #change_password_form button, #continue_to_app_form button {
    background: #13355B;
    border: none;
    cursor: pointer;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 21.35px;
    line-height: 59px;
    cursor: pointer;
    font-weight: 700;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
    text-transform: uppercase;
    transition: border-radius 0.2s ease;
    width: 100%;
    max-width: 250px !important;
    float: right;
    font-family: "roboto", sans-serif;
}

/*.sign_tabs form button:hover, #forgotten_password button:hover, .btn-nice:hover {*/
    /*-webkit-border-bottom-right-radius: 0px;*/
    /*-moz-border-radius-bottomright: 0px;*/
    /*border-bottom-right-radius: 0px;*/
/*}*/

.sign_form {
    background: #fff;
    margin: 0 0 11px;
    padding: 0;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
}

.sign_tabs .sign_form input, #forgotten_password input, .dashed {
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
    background: none;
    border-bottom: dashed 1px #13355B;
    margin: 0
}

.sign_tabs .sign_form input:last-of-type, #forgotten_password input:last-of-type {
    border-bottom: none;
}
.dashed {
    border-bottom: dashed 1px #13355B !important;
}
.table-modal {
  width: 480px;
  margin: 5px;
}

.table-modal td {
  padding: 10px;
}

.new-user-button {
  margin: auto;
  width: 1200px;
  text-align: left;
  margin-top: 30px;
}

.table-main {
  margin: auto;
  width: 90%;
  max-width: 1400px;
  margin-top: 30px;
}
.table-btn-cont {
    width: 350px;
}
.new-user-modal {
  text-align: center;
  font-size: 26px;
  margin: auto;
  margin-top: 15px;
}

.table-button {
  width: 180px;
}

.img-sticker {
  position: absolute;
  background-color: #14345B;
  border: #ff8226 solid;
  border-radius: 20px;
  padding: 4px 12px 3px 12px;
  float: right;
  cursor: pointer;
  color: white;
}

.modal-title {
  margin: auto;
  margin-top: 15px;
  text-align: center;
  font-size: 26px;
}

.modal-text {
  margin: auto;
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
}

.modal-ok-div {
  text-align: center;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.moving-span {
    display: none;
    min-width: 40px;
    height: 40px;
    position: fixed;
    background-color: #14345B;
    opacity: 0.8;
    z-index: 999;
    border-radius: 40px;
    border: #ff8226 solid;
    padding: 4px 12px 3px 12px;
    color: white;
}

.button-input {
    margin-bottom: 0;
    margin-top: 10px
}

.item {
    background-color: lightgrey;
    border: lightgray solid;
    border-radius: 20px;
    margin: 5px;
    display: block;
    height: 100%;
}
.inner-item {
    padding: 5px;
    display: inline-block;
}
.delete-item-btn {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 9px;
    padding-right: 9px;
    display: inline-block;
    float: right;
    cursor: pointer;
}
.delete-item {
    background-color: #b02936;
    border: #b02936 solid;
    border-radius: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 9px;
    padding-right: 9px;
    display: inline-block;
    float: right;
    cursor: pointer;
}

.main-content {
    width: 1200px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.center-padding {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.bin {
    height: 60px;
    width: auto;
    margin: 20px 10px;
}
.inline {
    display: inline-block;
    margin: 15px;
    max-width: 200px;
}
.btn-small {
    width: 100px !important;
    line-height: 1.5 !important;
}
.btn-90 {
    width: 90% !important;
    line-height: 1.5 !important;
}
.btn-large {
    width: 150px !important;
    line-height: 1.5 !important;
}
.no-float {
    float: none !important;
}
.plus-button {
    /*border: green solid;*/
    /*background-color: green;*/
    /*border-radius: 20px;*/
    /*padding: 5px;*/
    /*color: white;*/
    width: 200px !important;
}

.table-new-product {
    margin: 10px;
    width: 1180px;
}

.table-new-product td {
    padding-top: 20px;
    padding-bottom: 10px;
}

.segments-div {
    display: block;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
}

.img-area {
    width: 1200px;
    position: relative;
}
.title-items {
    margin-bottom: 20px;
}

.my-container {
    border-radius: 0;
}

.odd {
    background-color: white;
}

.even {
    background-color: #f1f1f1;
}

.file-upload-table {
    /*width: 560px;*/
    margin: 20px;
    /*margin-top: 90px;*/
}
.ie-icon {
    padding-left: 2px;
    padding-top: 5px;
    width: 30px;
    height: 30px;
}
/* #header */
/*.header_area {*/
    /*border-radius: 0 0 120px 0;*/
    /*-moz-border-radius: 0 0 120px 0;*/
    /*-webkit-border-radius: 0 0 120px 0;*/
    /*-o-border-radius: 0 0 120px 0;*/
    /*background-image: -ms-linear-gradient(left, #EFEFEF 0%, #E4E4E4 100%);*/
    /*background-image: -moz-linear-gradient(left, #EFEFEF 0%, #E4E4E4 100%);*/
    /*background-image: -o-linear-gradient(left, #EFEFEF 0%, #E4E4E4 100%);*/
    /*background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #EFEFEF), color-stop(100, #E4E4E4));*/
    /*background-image: -webkit-linear-gradient(left, #EFEFEF 0%, #E4E4E4 100%);*/
    /*background-image: linear-gradient(to right, #EFEFEF 0%, #E4E4E4 100%);*/
    /*z-index: 0;*/
/*}*/

.header_area {
    /*border-radius: 0 0 120px 0;*/
    /*-moz-border-radius: 0 0 120px 0;*/
    /*-webkit-border-radius: 0 0 120px 0;*/
    /*-o-border-radius: 0 0 120px 0;*/
    background-image: -ms-linear-gradient(left,#F1F1F1 0%, #F1F1F1 100%);
    background-image: -moz-linear-gradient(left,#F1F1F1 0%, #F1F1F1 100%);
    background-image: -o-linear-gradient(left, #F1F1F1 0%, #F1F1F1 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #F1F1F1 ), color-stop(100, #F1F1F1 ));
    background-image: -webkit-linear-gradient(left, #F1F1F1 0%, #F1F1F1 100%);
    background-image: linear-gradient(to right, #F1F1F1 0%, #F1F1F1 100%);
    z-index: 0;
}


.top_header_wide {
    background: #d7d7d7;
    margin: 0;
    padding: 0;
    width: 100%
}

.top_header {
    margin: 0 auto;
    padding: 15px 0 15px;
    background-color: #d7d7d7 !important;
    height: 54px;
}

.top_header p {
    text-align: right;
    margin: 0;
    padding: 0;
    color: #9b9b9b;
    font-size: 20.36px;
    line-height: 24px;
    font-weight: 400
}

.top_header p a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #666666
}

header {
    margin: 0 auto;
    padding: 40px 0;
    /*max-width: 1560px;*/
    height: calc(80px + 54px);
    width: 100%;
}

.logo {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 393px;
}

.logo img {
    max-width: 100%;
    height: auto
}
.header-title-1 {
    padding-left: 20px;
    font-weight: bold;
    font-size: xx-large;
    color: #3e4549;
}
.header-title-2 {
    font-size: xx-large;
    color: #3e4549;
}
.btn-header {
    margin-left: 20px;
    float: left;
}
/* end header*/

/* #footer */
.footer_wide {
    background: #14345B;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}
footer {
    margin: 0 auto;
    padding: 25px 0;
    max-width: 1560px;
    font-size: 0;
    line-height: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

footer a, footer p {
    color: #d0d0d0;
    font-size: 20.36px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    font-weight: 700;
}
footer p {
    font-weight: normal;
}
footer a:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-decoration: none;
    color: #d0d0d0;
}

footer a.go img {
    display: inline-block;
    margin: -12px 13px -4px 20px;
}



/* #navbar */
.nav-my-btn {
    font-weight: bold;
    color: black;
}
.nav-my-cont {
    height: 54px;
    padding-left: 30px;
}
.nav-item {
    cursor: pointer;
    vertical-align: middle;
    line-height: 54px;
    padding: 0 10px;
    color: #9b9b9b !important;
}
.nav-active {
    border-bottom: 2px solid #ff8226;
    color: #14345B !important;
}

/* #utils */
.float-left {
    float: left;
}
.ml-20 {
    margin-left: 20px !important;
}
.mb-5 {
    margin-bottom: 5px;
}
.mr-20 {
    margin-right: 20px;
}
.h-100 {
    height: 100%;
}
.logout {
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: #14345B;
    cursor: pointer;
}
.logout:hover {
    opacity: 0.8;
}
.blue-dark {
    color: #14345B !important;
}
div .orange, div .blue-dark {
    cursor: inherit;
}
.orange {
    color: #ff8226 !important;;
}
.blue-bg {
    background-color: #005476;
}

.white-bg {
    background-color: white;
    color: black;
    border: solid black;
    cursor: pointer;
}

.blue-dark-bg {
    background-color: #14345B !important;
}
.orange-bg {
    background-color: #FF751A !important;;
}
.red-bg {
    background-color: #b02936 !important;
}
.red {
    color: #b02936 !important;;
}
.plr-20 {
    padding-left: 20px;
    padding-right: 20px;
}
.plr-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.pl-10 {
    padding-left: 10px;
}
.w-100 {
    width: 100%;
}
.m-5 {
    margin: 5px !important;
}
.ml-20 {
    margin-left: 20px;
}
.m-20 {
    margin: 20px;
}
.align-center {
    text-align: center;
}
/* #table */
.table-head th {
    color: black;
    text-transform: uppercase;
    background: white;
    border: 1px solid black;
    /*border-top: 1px solid black;*/
    /*border-right: 1px solid black;*/
    font-size: small;
}
.table-head .last {
    /*border-right: none;*/
    width: 60px;
}
.btn-list-action {
    width: 111px;
}
.table td {
    /*font-size: small;*/
}
.table td, .table th {
    padding: 10px 5px;
}
.table-btns {
    width: 100%;
    text-align: center;
}
.table-btns button {
    margin-left: 5px;
}
.as-placeholder {
    padding-left: 15px !important;
    color: #7e7a77 !important;
    font-size: 22px !important;
    line-height: 1.5 !important;
}
.cb-cont {
    display: table;
    height: 41px;
}
.cb-cont input, .cb-cont label {
    display: inline-table !important;
}
.cb {
    width: 20px !important;
    height: 20px !important;
    margin: 0px 15px !important;
    vertical-align: middle;
}
.tab-container .nav-tabs .nav-item {
    padding: 0 5px !important;
}
.tab-container .nav-tabs .nav-link {
    border-color: #dee2e6;
    background-color: #e9e9e9;
    color: #005476;
    opacity: 0.8;
}
.tab-container .nav-tabs .nav-link:hover {
    background-color: #fff;
}
.tab-container .nav-tabs .nav-link.active {
    opacity: 1;
    color: #005476;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.file-upload-table a {
    color: #007bff !important;
    text-decoration: underline !important;
    cursor: pointer;
}
.file-upload-table td {
    text-align: left;
}

.file-upload-table td {
    padding-top: 0;
    padding-bottom: 0;
}
.file-upload-table td label, .file-upload-table td button {
    margin-bottom: 6px;
}
.progress-row td {
    padding-bottom: 10px;
}
.progress-cont {
    width: 100%;
    height: 5px;
    background-color: lightgray;
}
.progress {
    width: 0;
    height: 5px;
    background-color: #ff8226;
    -webkit-transition: width 300ms;
    transition: width 300ms;
}
.tips {
    vertical-align: bottom;
}
.tips .tips-upper {
    line-height: 1px;
}
.recommend {
    font-size: 9px;
    line-height: 10px;
    margin-bottom: 5px;
}

.actions {
    cursor: pointer;
    text-align: center;
}

.error-field {
    border: solid 2px red;
}


